/** This file contains default styles for the application. */
@font-face {
	font-family: "DM Sans";
	src: url(../assets/fonts/DM_Sans.ttf) format(truetype);
	font-display: swap;
}

:root {
	--primary-cta-color: #39cdcc;
	--primary-cta-active-color: #299191;
	--secondary-color: #213f7d;
	--transition: 0.3s linear all;
	--bg-hover: #39cdcc20;
	--box-shadow: 0 0 10px #f1f1f1;
	--border-radius-primary: 4px;
	--border-radius-secondary: 8px;
}

* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	-webkit-tap-highlight-color: transparent;
}

a,
a:link,
a:active {
	text-decoration: unset;
}

a,
button {
	cursor: pointer;
	color: inherit;
}

button,
input {
	border: unset;
	outline: unset;
	background-color: unset;
}

hr {
	border: none;
	height: 1px;
	background-color: #e1e1e1;
}
